body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
}
#container{
    text-align: center;
    font-size: large;
    border: 2px solid rgb(108, 107, 107);
    height: 300px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 8px 8px 3px rgb(127, 126, 126);

}
input{
    width: 70px;
    height: 20px;
    text-align: center;
    font-size: larger;
    border-radius: 5px;
}
button{
    background-color: rgb(71, 71, 240);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
    color: white;
    
}
button:hover{
    background-color: rgb(17, 17, 176);
}